// Simple class involved in a VM test
// Max Kopinsky 10/3/2018

function Factorial.factorial 0 // recur(n)
push argument 0
push constant 1
eq
if-goto IF_TRUE
push argument 0
push constant 1
sub
call Factorial.factorial 1
push argument 0
Sys.multiply 2
return
label IF_TRUE
push constant 1
return